html,
body {
  font-size: 14px;
  font-family: "mononoki";
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  outline: none;
}

.flex {
  display: flex;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  height: 50px;
  /* box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2); */
  border-bottom: 1px solid #ebeef5;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.header .note {
  width: 30%;
}
.header .more {
  width: 45%;
  text-align: center;
  position: relative;
}
.header .more .exportMenu {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 200px;
  border: 1px solid #ebeef5;
  height: 100px;
  background-color: #ffffff;
  transform: translateX(-50%);
}
.header .more > div {
  margin: 0 10px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}

.content {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu {
  width: 30%;
  position: relative;
}
.menu .tip {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  width: 100%;
}
.menu .addNotes {
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  height: 30px;
  cursor: pointer;
  line-height: 30px;
}
.selected {
  background: #ebeef5;
}
.menu .item {
  cursor: pointer;
  height: 40px;
  padding: 0 10px;
  border-bottom: 1px solid #ebeef5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu .item img {
  height: 18px;
}

.main {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.main .head {
  justify-content: center;
  height: 30px;
  display: flex;
  align-items: center;
}
.main .head input {
  text-align: center;
  background: none;
  padding: 0 5px;
  border: 0;
  font-family: "mononoki";
}
.main .head .imgBox {
  display: flex;
  align-items: center;
}
.main .head img {
  height: 18px;
  margin: 0 10px;
  cursor: pointer;
}
.main textarea {
  width: 100%;
  flex: 1;
  border: 0;
  font-family: "mononoki";
  padding: 5px;
  resize: none;
}
.main textarea::-webkit-scrollbar {
  width: 2px;
  background: #ebeef5;
}

.translate {
  width: 35%;
}
.box-shadow {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #ebeef5;
  background-color: #ffffff;
  color: #303133;
  padding: 10px;
  height: 90%;
}

.cover {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ebeef5;
}
.cover .box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  z-index: 2;
  height: 300px;
  background-color: #ffffff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #ebeef5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover .box .rt {
  color: #c3c5ca;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #c3c5ca;
  font-size: 14px;
  cursor: pointer;
}
.password .unlock {
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  cursor: pointer;
  font-weight: 600;
}
.cover .password input {
  height: 50px;
  padding: 0 20px;
  border: 1px solid #f1dc7f;
  letter-spacing: 2px;
  border-radius: 4px;
}
.cover .exportNote {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
}
.exportNote .el-select {
  width: 200px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
